<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id = app>
        <h1>入力画面</h1>
        <input type="number" v-model="nyuryokugaku">
        <div>入力額：{{nyuryokugaku}}円</div>
        <button v-on:click="nyukinn">入金</button>
        <button v-on:click="syukkinn" v-bind:disabled="this.zandaka < Number(this.nyuryokugaku)">出金</button>
        <h2>口座残高</h2>
        <div>残高:{{zandaka}}円</div>
        <h3>取引記録</h3>
        <div v-for="log in log">
            日付:{{log.date}}<br />
            操作:{{log.type}} <br />
            金額:{{log.money}}
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>